{% for post in posts %}
  <section>
    <div class="profile profile-long">
      <div class="profile__image">
        <img
          style="width: 200px; height: auto"
          src="../media/{{ post.img_path }}"
          alt="img"
        />
      </div>
      <div class="profile__info">
        <h3>{{ post.name }}</h3>
        {# 작성자 펫정보 가져와서 출력 #}
      </div>
      <div class="profile__cta">
        <a class="button" href="/post/{{post.id}}/detail">Click!</a>
      </div>
    </div>
  </section>
{% endfor %}