{% extends 'base.html' %}
<!-- Title-->
{% block title %} 글 상세보기 {% endblock %}
<!-- Content -->
{% block content %}
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          만든사람 : {{ post.author }} 로그인한 사람 : {{ user }}
          <h5 class="mt-0">{{ post.name }}</h5>
          <img src="/media/{{ post.img_path }}" />
          <p>설명 : {{ post.description }}</p>
          {% if post.author == user %}
          <a class="nav-link" href="/post/{{post.id}}/update">
            <span class="sr-only">수정하기</span>
          </a>
          <a class="nav-link" href="/post/{{post.id}}/delete">
            <span class="sr-only">삭제하기</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comment 코멘트 Form 받아와서 붙여넣을 부분 -->
<form class="input-group mb-3" action="comment" method="post">
  {% csrf_token %} {{ form }}
  <button class="btn btn-outline-secondary" type="submit">작성</button>
</form>
<hr />
<!-- Comment 받아와서 붙이는 부분 -->
{% for comment in comments %}
<div class="row">
  <div class="detail_comment">
    <ol class="list-group">
      <li class="list-group-item active" aria-current="true">댓글</li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="col">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ comment.content }}</div>
          </div>
          <span class="badge bg-primary rounded-pill">{{ comment.author }}
          </span>
          <span class="badge bg-primary rounded-pill">- {{ comment.created_at | timesince }} 전 작성</span>
          {% if comment.author == user %}
          <a class="badge bg-info rounded-pill" href="#">수정
          </a>
          <a class="badge bg-danger rounded-pill" href="{% url 'delete_comment' comment_id=comment.id %}">
            삭제
          </a>
          {% endif %}
        </div>
      </li>
    </ol>
  </div>
</div>
<hr />
{% endfor %}
<!-- Block -->
{% endblock%}