{% extends 'base.html' %}
{% block content %}
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="media">
        <div class="media-body">
          만든사람 : {{ post.author }} 로그인한 사람 : {{ user }}
          <h5 class="mt-0">{{ post.name }}</h5>
          <img src="/media/{{ post.img_path }}" />
          <p>설명 : {{ post.description }}</p>
          {% if post.author == user %}
          <a class="nav-link" href="/post/{{post.id}}/update">
            <span class="sr-only">수정하기</span>
          </a>
          <a class="nav-link" href="/post/{{post.id}}/delete">
            <span class="sr-only">삭제하기</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Comment 코멘트 Form 받아와서 붙여넣을 부분 -->
{# 해당 부분의 액션 수정. 제 생각으론 post의 id값을 전달하고 그값을 받아서 설정해야된다.  #}
<form class="input-group mb-3" action="/comment/{{ post.id }}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-outline-secondary" type="submit">작성</button>
</form>
<hr>
<!-- Comment 받아와서 붙이는 부분 -->
{% for cm in comment %}
    <div class="row">
        <div class="col-md-12">
            <div class="media">
                <div class="media-body">
                    <h5 class="mt-0"> {{ cm.content }} </h5>
                    <span> {{ cm.author }} </span>
                    <span> - {{ cm.created_at | timesince }} 전 작성</span>
                </div>
                {% if cm.author == user %}
                    <div style="float: right">
                        {# 삭제 url#}
                        <a href="/comment/delete/{{ cm.id }}">
                            <span class="badge bg-danger">삭제</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
{% endblock content %}