{% extends 'base.html' %} 
<!-- Block -->
{% block title %} 글 쓰기 {% endblock %}
<!-- Block -->
{% block content %}

<div class="post">
    <h1>게시물 추가</h1>
    {% if id %}
        <form class="form-area" method="post" enctype="multipart/form-data" action="/post/{{ id }}/update" >
    {% else %}
        <form class="form-area" method="post" enctype="multipart/form-data" action="/post/note" >
    {% endif %}
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">카테고리</span>
            {{ form.category }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">제목</span>
            {{ form.title }}
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupFile01"
            >이미지 업로드</label>
             <div class="form-control">{{ form.img_path.value }}</div>
            {{ form.img_path }}

        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">반려동물 종류</span>
            {{ form.pets }}
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">시간대</span>
            {{ form.time }}
        </div>
        <div class="form-floating">
            <label for="floatingTextarea2">Comments</label>
            {{ form.description }}
        </div>
        <div class="post_btn">
            <button type="submit" class="btn btn-primary">게시하기</button>
            <button
            type="button"
            onclick="location.href='/'"
            class="btn btn-outline-primary"
            >
            취소
            </button>
        </div>
    </form>
</div>
<!-- Block -->
{% endblock %}
