{% extends 'base.html' %}
{% block content %}
<h1>게시물 추가</h1>
     {% if id %}
        <form class="form-area" method="post" enctype="multipart/form-data" action="/post/{{ id }}/update" >
    {% else %}
        <form class="form-area" method="post" enctype="multipart/form-data" action="/post/note" >
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <button type="submit">추가</button>
  </form>
{% endblock content %}