header {
  user-select: none;
  background-color: white;
}
.wrap {
  width: 400px;
  margin: 0 auto;
}
.my_cards {
  max-width: 1200px;
  width: 95%;
  margin: 20px auto 0 auto;
}
.profile_card {
  width: 1200px;
  margin: auto;
}
.profile_button {
  width: 130px;
  margin-left: auto;
}
.mycontent > button {
  padding: 10px 40px 10px 40px;
  margin-left: 50px;
}
.mycontent {
  width: 500px;
  margin: 10px auto 10px auto;
}
.mysignup {
  width: 400px;
  margin: 0 auto;
}
.mypost {
  width: 1000px;
  margin: 0 auto;
}
.post {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.post_btn {
  width: 180px;
  margin: 10px 0 10px auto;
}
.detail_card {
  width: 540px;
  margin: auto;
}
.detail_btn {
  margin-top: 10px;
}
.btn {
  margin-bottom: 10px;
}
.user_detail_btn {
  margin-left: auto;
}
/* base.html */
a {
  all: unset;
  cursor: pointer;
}
a:hover {
  color: inherit;
}

/* home.html */
.home__wrapper {
  width: 40%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 32px;
}

.home__wrapper .profile {
  user-select: none;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: transform 0.1s linear;
}
.home__wrapper .profile:hover {
  transform: scale(1.05);
}
.profile__image > img {
  margin-bottom: 4px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.profile__info {
  padding: 8px 8px;
}
.my-categories {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.my-categories > a {
  color: white;
  background-color: #54adcdff;
  padding: 4px 8px;
  border-radius: 20px;
}

/* users/profile.html */
.profile-img {
  width: 400px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

/* post_detail.html */
.post__detail {
  display: flex;
  padding: 0 80px;
  margin-bottom: 32px;
}
.post__detail .left {
  margin-right: 80px;
}
.post__detail .right {
  font-size: 24px;
}
.post__detail .right > p {
  display: block;
  width: 640px;
  height: 240px;
  font-size: 24px;
  white-space: normal;
  word-wrap: break-word;
}

.post__detail-btns {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.post__detail-btns > a {
  font-size: 20px;
  color: white;
  background-color: #54adcdff;
  padding: 4px 8px;
  border-radius: 20px;
}
