{% extends "base.html" %}
<!-- blank -->
{% block title%} 홈 {%endblock%}
<!-- blank -->

{% block content %}

<div>
  현재 로그인 유저 : {{ user }}
  <a class="nav-link" href="/post/note">
    글적기 <span class="sr-only"></span
  ></a>
  <a class="nav-link" href="/user/logout">
    로그아웃 <span class="sr-only"></span
  ></a>
</div>

    {% if user %}
<div class="profile__cta">
    <a class="button" href="/post/my">내가 쓴 글 보기!</a>
</div>
    {% endif %}


<main>
  {% for post in page_obj %}
  <section>
    <div class="profile profile-long">
      <div class="profile__image">
        <img
          style="width: 200px; height: auto"
          src="media/{{ post.img_path }}"
          alt="img"
        />
      </div>
      <div class="profile__info">
        <h3>{{ post.name }}</h3>
        {# 작성자 펫정보 가져와서 출력 #}
      </div>
      <div class="profile__cta">
        <a class="button" href="/post/{{post.id}}/detail">Click!</a>
      </div>
    </div>
  </section>
  {% endfor %}
</main>
<div class="page">
  {% if page_obj.has_other_pages %}
  <ul style="display: flex; list-style: none">
    {% if page_obj.has_previous %}
    <li style="margin: 3px">
      <a
        style="text-decoration: none; color: blue"
        href="?page={{ page_obj.previous_page_number }}"
      >
        &#10094; Prev
      </a>
    </li>
    {% endif %} {% for page in custom_range %} {% if page == page_obj.number %}
    <li style="margin: 3px">
      <a style="text-decoration: none; color: darkred" href="?page={{ page }}">
        {{ page }}
      </a>
    </li>
    {% else %}
    <li style="margin: 3px">
      <a style="text-decoration: none; color: blue" href="?page={{ page }}">
        {{ page }}
      </a>
    </li>
    {% endif %} {% endfor %} {% if page_obj.has_next %}
    <li style="margin: 3px">
      <a
        style="text-decoration: none; color: blue"
        href="?page={{ page_obj.next_page_number }}"
      >
        &#10095; Next
      </a>
    </li>
    {% endif %}
  </ul>
  {% endif %}
</div>

{% endblock content %}
