{% extends "base.html" %}
<!-- blank -->
{% load static %}
<!-- blank -->
{% static 'social_btns/naver_login_btnG_official.png' as naver_btn %} {% static
'social_btns/kakao_login_btn_official.png' as kakao_btn %}
<!-- 소셜 로그인 추가 -->
{% load i18n %} {% load account socialaccount %}
<!-- blank -->

{% block title%} 로그인 {%endblock%}
<!-- blank -->
{% block content%}
<h1>로그인</h1>

{% get_providers as socialaccount_providers %}
<!-- blank -->

<div class="panel-heading">소셜로그인</div>
<div class="panel-body text-center"></div>
<ul class="socialaccount_providers">
  <!--  프로바이더의 순서는 settings.py에 지정한 순서인 듯하다.  -->
  {% for provider in socialaccount_providers %} {% if provider.id == "openid" %}
  {% for brand in provider.get_brands %}
  <li>
    <a
      title="{{brand.name}}"
      class="socialaccount_provider {{provider.id}} {{brand.id}}"
      href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
      >{{brand.name}}</a
    >
  </li>
  {% endfor %} {% endif %}

  <!--제공자에 따라 만들어짐.-->
  {% if provider.name == "Naver" %}
  <div class="pull-left">
    <a
      href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
    >
      <img src="{{ naver_btn }}" height="34" />
      네이버 회원가입
    </a>
  </div>

  <!-- 다양한 방식으로 구성할 수 있다. -->
  {% elif provider.name == "Kakao" %}
  <a href="{% provider_login_url 'kakao' method='oauth2' %}">
    <img src="{{ kakao_btn }}" height="34" />
    카카오 회원가입
  </a>

  {% else %}
  <li>
    <a
      title="{{provider.name}}"
      class="socialaccount_provider {{provider.id}}"
      href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}"
      >{{provider.name}}</a
    >
  </li>
  {% endif %} {% endfor %} {%endblock%}
</ul>
