{% extends 'base.html' %}
{% comment %} static {% endcomment %}
{% load static %}
{% comment %} Title {% endcomment %}
{% block title %} 프로필 {% endblock %}
{% comment %} Content {% endcomment %}
{% block content %}
<div class="profile_card">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img class="profile-img" src="https://placehold.co/1280x2560" class="img-fluid rounded-start" alt="테스트 이미지"
          loading="lazy" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로필</h5>
          <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">닉네임</span>
              <input type="text" placeholder="{{ user.nickname }}" class="form-control" name="nickname" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">이메일</span>
              <input type="text" placeholder="{{ user.username }}" class="form-control" name="username" disabled />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
              <input type="text" placeholder="{{ user.address }}" class="form-control" name="address" />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">반려동물이 있나요?</span>
              <select class="form-control" name="is_pet_host">
                <option value="true" {%if user.is_pet_host==True %}selected {%endif%}>
                  네
                </option>
                <option value="false" {%if user.is_pet_host=False %}selected {%endif%}>
                  아니요
                </option>
              </select>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">
                어떤 반려동물을 기르나요?
              </span>
              <select class="form-control" name="pet_kind">
                <option value="dog" {%if user.pet_kind="dog" %}selected {%endif%}>
                  강아지
                </option>
                <option value="cat" {%if user.pet_kind="cat" %}selected {%endif%}>
                  고양이
                </option>
                <option value="rabbit" {%if user.pet_kind="rabbit" %}selected {%endif%}>
                  토끼
                </option>
                <option value="hamster" {%if user.pet_kind="hamster" %}selected {%endif%}>
                  햄스터
                </option>
                <option value="etc" {%if user.pet_kind="etc" %}selected {%endif%}>
                  그외
                </option>
              </select>
            </div>
            <div class="profile_button">
              <button type="submit" class="btn btn-info">변경</button>
              <button onclick="location.href='/'" type="button" class="btn btn-secondary">
                취소
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Block -->
<div class="mycontent">
  {# {% url 'my_post_view' %}설정 시 작동하지 않는 문제로... 다시 경로 지정하였습니다. #}
  <a href="/post/my" type="button" class="btn btn-info">
    <span>내가 쓴 글</span>
  </a>
  <a href="/comment/my" type="button" class="btn btn-info">
    <span>내가 쓴 댓글</span>
  </a>
  {# 따옴표3쌍 안의 빨간밑줄이 사라지지 않아 일단 주석처리했습니다! 위에 같은 기능이있네요. #}
  <!-- {% comment %}
  <a type="button" onclick="location.href='{% url 'my_post_view' %}'" class="btn btn-info">
    내가 쓴 글
  </a>
  <a type="button" onclick="location.href='{% url ' my_comment_view' %}'" class="btn btn-outline-info">
    내가 쓴 댓글
  </a>
  {% endcomment %} -->
</div>
{% endblock %}